<p>Check out your new and totally awesome career: <a href="<%= @gift_url%>" target="_blank"><%= @gift_name %></a></p>

<a href="<%= @gift_url%>" target="_blank"><img src="/images/gifts/<%= @gift_img %>" alt="<%= @gift_name %>" /></a>

